body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

header, .hero, footer {
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

#heromain {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#herosecondary {
    font-size: 18px;
    color: #e5e7eb;
}

.quote {
    background-color: #e5e7eb;
}

#keyquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;

}