body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

header, .hero, footer {
    background-color: #1f2937;
}

#heromain {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#herosecondary {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style-type: none;
}